{{#if logged_in}}
  <section class = "container">
    <h1 class="community-title"> Restful Community</h1>
    <h2 class= "introduction"> Hi {{user.name}}, welcome to the Restful Community!
      This is a safe place to share tips,tricks and workout motivation. </h2>  

<h3> What would you like to share?</h3>
  <div class="col-8">
    <input
      class="note-title"
      placeholder="Note Title"
      maxlength="28"
      type="text"
    />
    <textarea class="note-textarea" placeholder="Note Text"></textarea>
  </div>

  <section class="flex-row justify-center notes">
    {{#each notes as |note|}}
    {{blog.title}}
    {{blog.textarea}}
    {{/each}}
  </section>
  <script src="/public/js/blog.js"></script>
  </section>