{{#if logged_in}}
  <div class = "container workoutHistory" id="workoutHistory">
    <h1 class="workoutHistory"> Workout History</h1>

  <div class="flex-row justify-center workouts">
    {{#each workouts as |workout|}}
   <h2>{{Workouts.title}}</h2> 
    <h3>{{Workout.duration}}</h3>
    <h3>{{Workout.intensity}}</h3>
    <h3>{{Workout.outcome}} </h3>
    {{/each}}
  </div>
  <script src="/js/newWorkout.js"></script>
  </div>
{{/if}}

